
#entete {
    background: linear-gradient(100deg, blue, red);
    color: white;
    /* font-size: 2em; */
    padding: 0.2em;
}
#entete h2 {
    animation: marquee 10s  infinite  linear alternate ;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}



.titre {
    /* background: linear-gradient(to right, rgb(255, 72, 0), red ); */
    background-color: #000;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    margin: 5px;

    /* font-size: 30px; */
}
.list-produits {
    display: flex;
    justify-content: center;

}

.produits {
    width:15em;
    text-align: center;
    margin: 2em;

}
.produit-img {
    height: 12em;

}

.produit-img img {
    width: 100%;
    height: 30vh;

}

.produit-desc p {
    color: rgb(255, 123, 0);
}

.produit-desc button {
    background-color: #000075;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

.produit-desc h4 {
    text-transform: capitalize;
}

.produit-desc button:hover {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    color: #000075;
    font-weight: bold;
    font-size: large;
}





/* STYLES MAKES BY TEACHER  */
.banniere-image img {
    width: 300px;
}
#banniere
{
    display: flex;
    justify-content: center;
    margin: 10px;;
}
.banniere-image
{
    margin: 0 50px;
}

#titre {
    text-align: center;
    font-size: 30px;
    color: #fff;
    background-color: #000;
    text-transform: capitalize;
}

/* style liste produits */
.produit {
    width: 250px;
    margin: 20px;

}

.produit-image img {
    width: 100%;
    height: 200px;

}
/* .produit-image  {
    display: ;
} */
#liste-produits {
    display: flex; 
    justify-content: center;
}

.description {
    text-align: center;
}

.description p {
    color: #ff0000;
}

.description button {
    background-color: #000075;
    /* background-color: #ff5733; */
    color: #fff;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 10px;
}

.description button:hover {
    background-color: #fff;
    color: #000075;
    /* cursor: pointer; */
}

